# Data Analysis: See Data Collection First

### Set up Imports and Import Data
#### Uses rpy2 to utilize R data visualization language to run analysis

In [1]:
import pandas as pd
import rpy2
import datetime
%load_ext rpy2.ipython

# Things to add still
## Check P Values and group Land Size by additional unit (10, 100?)
## Create a predicted column based upon the given fields, calculate Deltas and visualize data/errors
## See what % is fair valued vs not

In [2]:
file_name = str(input('Enter name of CSV in current working directory (include .csv): '))
df = pd.read_csv(file_name)

year = datetime.datetime.today().year
print(year)

# testing output
# df.info()

Enter name of CSV in current working directory (include .csv): 2023_data.csv
2024

In [3]:
df_land = df.loc[df['improved_value'] == 0.0]
df_houses = df.loc[df['improved_value'] != 0.0]

df_houses['year'] = pd.to_numeric(df['year'], errors='coerce').fillna(0).astype(int)
df_houses['years_old'] = year - df_houses['year']

# df_houses.info()

df_houses.to_csv(f'Data/{file_name[:4]}_Houses.csv') # use dynamic filename to name our data_file
df_land.to_csv(f'Data/{file_name[:4]}_Land.csv') # use dynamic filename to name our data_file

/var/folders/f3/p47z8bv91fz_xq2tl0xv0sq80000gn/T/ipykernel_17055/3830662668.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_houses['year'] = pd.to_numeric(df['year'], errors='coerce').fillna(0).astype(int)
/var/folders/f3/p47z8bv91fz_xq2tl0xv0sq80000gn/T/ipykernel_17055/3830662668.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_houses['years_old'] = year - df_houses['year']

In [4]:
%%R
library(ggplot2)
library(tidyverse)
library(moderndive)

options(scipen = 999) # sets the output formatting for numbers

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ lubridate 1.9.3     ✔ tibble    3.2.1
✔ purrr     1.0.2     ✔ tidyr     1.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In addition: Warning messages:
1: package ‘dplyr’ was built under R version 4.2.3
2: package ‘stringr’ was built under R version 4.2.3

In [ ]:
%%R
houses = read.csv('Data/2023_Houses.csv')
land = read.csv('Data/2023_Land.csv')


houses_1984 = houses %>%
    filter(year > 1984)

In [17]:
%%R

# create dummy variables for our house classes since the county identifies them accordingly
houses_1984 = houses_1984 %>%
    mutate(isBH14 = ifelse(bldg_class == 'BH14', 1, 0),
          isBH12 = ifelse(bldg_class == 'BH12', 1,0))

head(houses_1984)

  X prop_id             geo_id                                        name
1 1  221854 4275-0000-0003-000                  CASON GREGORY A & JONICA A
2 2  221855 4275-0000-0004-000                   MORRIS GARRETT & JENNIFER
3 3  221856 4275-0000-0005-000                       COLLINS WILLIAM DAVID
4 5  221860 4275-0000-0009-000 STANDLEE JENNIFER SUTTON & PATRICIA BESSOLO
5 7  221863 4275-0000-0012-000                               ETOYAN MARINE
6 8  221866 4275-0000-0015-000                 WIMBERLY WARREN R & KEL LEE
  appraised land_value land_size improved_value imp_sqft year bldg_class
1    770000     163500      8175         606500     2577 2016       BH14
2    535520     161660      8083         373860     1564 2014       BH12
3    769960     161660      8083         608300     2209 2014       BH14
4    605520      38710      5530         566810     1408 2007       BH14
5    512390      30420      5530         451550     1368 2010       BH14
6    349560      30420      5530         319140     1216 2016       BH12
  dollar_sqft years_old isBH14 isBH12
1          NA         8      1      0
2          NA        10      0      1
3          NA        10      1      0
4          NA        17      1      0
5          NA        14      1      0
6          NA         8      0      1

In [18]:
%%R

threshold_year = 1984 - 2023
#lm_houses = lm(appraised ~ land_value + land_size + imp_sqft + years_old, data = subset(houses, years_old < threshold_year))
lm_houses = lm(appraised ~ land_size + imp_sqft + years_old, data = houses)
lm_houses_1984 = lm(appraised ~ land_size + imp_sqft + years_old + bldg_class, data = houses_1984)
# head(houses)

  X prop_id             geo_id                                        name
1 1  221854 4275-0000-0003-000                  CASON GREGORY A & JONICA A
2 2  221855 4275-0000-0004-000                   MORRIS GARRETT & JENNIFER
3 3  221856 4275-0000-0005-000                       COLLINS WILLIAM DAVID
4 5  221860 4275-0000-0009-000 STANDLEE JENNIFER SUTTON & PATRICIA BESSOLO
5 7  221863 4275-0000-0012-000                               ETOYAN MARINE
6 8  221866 4275-0000-0015-000                 WIMBERLY WARREN R & KEL LEE
  appraised land_value land_size improved_value imp_sqft year bldg_class
1    770000     163500      8175         606500     2577 2016       BH14
2    535520     161660      8083         373860     1564 2014       BH12
3    769960     161660      8083         608300     2209 2014       BH14
4    605520      38710      5530         566810     1408 2007       BH14
5    512390      30420      5530         451550     1368 2010       BH14
6    349560      30420      5530         319140     1216 2016       BH12
  dollar_sqft years_old predicted_app_value      delta
1          NA         8            732292.4  -37707.60
2          NA        10            494167.9  -41352.08
3          NA        10            645500.6 -124459.43
4          NA        17            447771.3 -157748.74
5          NA        14            438553.0  -73837.01
6          NA         8            403223.5   53663.50

In [19]:
%%R

coef(lm_houses)
coef(lm_houses_1984)#first regression

   (Intercept)      land_size       imp_sqft      years_old bldg_classBH14
  31682.953483      -9.508675     284.060756    4203.504960   81628.518691

In [8]:
%%R
houses = houses %>%
    mutate(predicted_app_value = predict(lm_houses, newdata= houses),
           delta = predicted_app_value - appraised)

coef(lm_houses)

 (Intercept)    land_size     imp_sqft    years_old
97990.122273     3.684411   234.624272   -55.566296

In [20]:
%%R

options(scipen = 999)
get_regression_table(lm_houses_1984)

# A tibble: 5 × 7
  term             estimate std_error statistic p_value  lower_ci upper_ci
  <chr>               <dbl>     <dbl>     <dbl>   <dbl>     <dbl>    <dbl>
1 intercept        31683.    130581.      0.243   0.811 -243819.  307185.
2 land_size           -9.51      12.0    -0.791   0.44      -34.9     15.9
3 imp_sqft           284.        50.4     5.64    0         178.     390.
4 years_old         4204.      4597.      0.914   0.373   -5496.   13903.
5 bldg_class: BH14 81629.     43807.      1.86    0.08   -10796.  174053.