# Data Analysis: See Data Collection First

### Set up Imports and Import Data
#### Uses rpy2 to utilize R data visualization language to run analysis

In [1]:
import pandas as pd
import rpy2
%load_ext rpy2.ipython

In [11]:
file_name = str(input('Enter name of CSV in current working directory (include .csv): '))
df = pd.read_csv(file_name)

#testing output
df.head()

Enter name of CSV in current working directory (include .csv): data.csv

,prop_id,geo_id,name,appraised,land_value,land_size,improved_value,imp_sqft,year,bldg_class,dollar_sqft
0,221853,4275-0000-0001-000,CASON GREGORY A & JONICA A,289040.0,289040.0,17986.0,0.0,0.0,Nan,Nan,NaN
1,221854,4275-0000-0003-000,CASON GREGORY A & JONICA A,770000.0,163500.0,8175.0,606500.0,2577.0,2016,BH14,235.35
2,221855,4275-0000-0004-000,MORRIS GARRETT & JENNIFER,535520.0,161660.0,8083.0,373860.0,1564.0,2014,BH12,239.04
3,221856,4275-0000-0005-000,COLLINS WILLIAM DAVID,769960.0,161660.0,8083.0,608300.0,2209.0,2014,BH14,275.37

,prop_id,geo_id,name,appraised,land_value,land_size,improved_value,imp_sqft,year,bldg_class,dollar_sqft
0,221853,4275-0000-0001-000,CASON GREGORY A & JONICA A,289040.0,289040.0,17986.0,0.0,0.0,Nan,Nan,NaN
1,221854,4275-0000-0003-000,CASON GREGORY A & JONICA A,770000.0,163500.0,8175.0,606500.0,2577.0,2016,BH14,NaN
2,221855,4275-0000-0004-000,MORRIS GARRETT & JENNIFER,535520.0,161660.0,8083.0,373860.0,1564.0,2014,BH12,NaN
3,221856,4275-0000-0005-000,COLLINS WILLIAM DAVID,769960.0,161660.0,8083.0,608300.0,2209.0,2014,BH14,NaN
4,221859,4275-0000-0008-000,IVY KEITH,140000.0,140000.0,9872.0,0.0,0.0,Nan,Nan,NaN