# Data Analysis: See Data Collection First

### Set up Imports and Import Data
#### Uses rpy2 to utilize R data visualization language to run analysis

In [14]:
import pandas as pd
import rpy2
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [18]:
file_name = str(input('Enter name of CSV in current working directory (include .csv): '))
df = pd.read_csv(file_name)

#testing output
df.head()

Enter name of CSV in current working directory (include .csv): 2023_data.csv

,prop_id,geo_id,name,appraised,land_value,land_size,improved_value,imp_sqft,year,bldg_class,dollar_sqft
0,221853,4275-0000-0001-000,CASON GREGORY A & JONICA A,289040.0,289040.0,17986.0,0.0,0.0,Nan,Nan,NaN
1,221854,4275-0000-0003-000,CASON GREGORY A & JONICA A,770000.0,163500.0,8175.0,606500.0,2577.0,2016,BH14,235.35
2,221855,4275-0000-0004-000,MORRIS GARRETT & JENNIFER,535520.0,161660.0,8083.0,373860.0,1564.0,2014,BH12,239.04
3,221856,4275-0000-0005-000,COLLINS WILLIAM DAVID,769960.0,161660.0,8083.0,608300.0,2209.0,2014,BH14,275.37

In [23]:
df_land_only = df.loc[df['improved_value'] == 0.0]
df_land_only.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   prop_id         1 non-null      int64
 1   geo_id          1 non-null      object
 2   name            1 non-null      object
 3   appraised       1 non-null      float64
 4   land_value      1 non-null      float64
 5   land_size       1 non-null      float64
 6   improved_value  1 non-null      float64
 7   imp_sqft        1 non-null      float64
 8   year            1 non-null      object
 9   bldg_class      1 non-null      object
 10  dollar_sqft     0 non-null      float64
dtypes: float64(6), int64(1), object(4)
memory usage: 96.0+ bytes

In [17]:
%%R
library(ggplot2)
library(tidyverse)

new_df = read.csv('2023_data.csv')
head(new_df)

  prop_id             geo_id                       name appraised land_value
1  221853 4275-0000-0001-000 CASON GREGORY A & JONICA A    289040     289040
2  221854 4275-0000-0003-000 CASON GREGORY A & JONICA A    770000     163500
3  221855 4275-0000-0004-000  MORRIS GARRETT & JENNIFER    535520     161660
4  221856 4275-0000-0005-000      COLLINS WILLIAM DAVID    769960     161660
  land_size improved_value imp_sqft year bldg_class dollar_sqft
1     17986              0        0  NaN        Nan          NA
2      8175         606500     2577 2016       BH14      235.35
3      8083         373860     1564 2014       BH12      239.04
4      8083         608300     2209 2014       BH14      275.37